[2017-05-10 16:33] jibe-b opened #1 "Good luck for GSoC!"
I'll try to follow what you will develop during you GSoC project, I wish you all the best to make it progress!

[2017-05-11 11:01] achillesrasquinha commented on #1
Thank you. :)

[2017-07-09 06:54] #1 closed, assigned to nobody

[2017-09-01 17:55] achillesrasquinha opened #2 "Fails to link recursive paths to Genomic Data Paths."
When creating a CDATA file, the input files fail to resolve the absolute paths especially for recursive directories.

[2017-09-03 10:48] achillesrasquinha opened #3 "!cel vs !file tags mismatch while creating a CData file on the RIA"
There's a mismatch of tags while creating these files. This leads to the pipeline failing to run since !cel files aren't fetched or found.

[2017-09-03 16:02] #3 closed, assigned to nobody

[2017-11-07 21:25] HelikarLabPersonal opened #4 "get-candis on Ubuntu 17.04"
I'm getting the following error in Ubuntu 17.04 while installing candis.

$ curl -sL bit.do/get-candis | python

#!/System/Library/Frameworks/Ruby.framework/Versions/Current/usr/bin/ruby
#This script installs to /usr/local only. To install elsewhere you can just
#untar https://github.com/Homebrew/brew/tarball/master anywhere you like or
#change the value of HOMEBREW_PREFIX.
HOMEBREW_PREFIX = "/usr

[2017-11-08 03:02] achillesrasquinha commented on #4
Script isn't compatible on Ubuntu yet. Confirming once done.

[2017-12-25 09:56] akram-mohammed opened #6 "Candis on Ubuntu using pip3 install"
I am getting the following errors while installing candis using pip3 install.

amohammed@Akram:~$ pip3 install candis
Collecting candis
  Using cached candis-0.0.5-py2.py3-none-any.whl
Collecting pandas (from candis)
  Using cached pandas-0.21.1-cp35-cp35m-manylinux1_x86_64.whl
Collecting numpy (from candis)
  Using cached numpy-1.13.3-cp35-cp35m-manylinux1_x86_64.whl
Collecting pygraphviz (from c

[2017-12-27 23:44] akram-mohammed opened #7 "Update CSS with Bootstrap 4"
Bootswatch Updated to Bootstrap 4!!!

[2018-01-02 04:12] achillesrasquinha commented on #7
:tear: They're still on a `beta` version. This can be a whole new port.

[2018-01-02 04:12] achillesrasquinha commented on #6
`pip3 install setuptools`?

[2018-01-02 04:12] achillesrasquinha commented on #4
For most part, I tried making this script stable on `Xenial`. Confirm if failures.

[2018-01-13 09:09] achillesrasquinha commented on #7
Also, our dependencies aren't 4 compatible yet. We might need to review on the same.

[2018-02-14 07:15] rupav opened #8 "Broken link in readme.md"
![2018-02-14](https://user-images.githubusercontent.com/20624380/36191442-3034aa68-1183-11e8-8eab-c3b376f407f5.png)
`HelikarLab` needs to be updated with correct link.

[2018-02-14 08:36] akram-mohammed commented on #8
Thank you, Rupav for catching that. Its fixed now!

[2018-02-14 09:32] #8 closed, assigned to nobody

[2018-02-14 09:42] rupav opened #9 "windows OS installation steps."
I would like to work on it.

[2018-02-14 09:45] rupav commented on #9
@akram-mohammed I want to claim installation on windows( though I am not able to install dependency rpy2 from pip, but found a way around) . Still getting few installation error, but will solve them too eventually.
Can you please add me to https://groups.google.com/forum/#!forum/helikarlab-gsoc .
I have few queries regarding Candis project.

[2018-02-14 14:18] rupav commented on #9
cc @achillesrasquinha

[2018-02-14 20:58] akram-mohammed commented on #9
Rupav, you are a member of the HelikarLab google forum.

Thank you,

Akram Mohammed, M.S, Ph.D.
Postdoctoral Research Associate
Computational Systems Biologist
Department of Biochemistry
University of Nebraska-Lincoln

From: rupav jain
Sent: Wednesday, February 14, 2018 3:45 AM
To: HelikarLab/candis
Cc: Akram Mohammed; Mention
Subject: Re: [HelikarLab/candis] windows OS installation steps. (#9)

@

[2018-02-14 21:04] akram-mohammed commented on #9
Excellent! Looking forward to your proposal. Feel free to ask any questions you may have.

Akram Mohammed, M.S, Ph.D.
Postdoctoral Research Associate
Computational Systems Biologist
Department of Biochemistry
University of Nebraska-Lincoln

From: rupav jain
Sent: Wednesday, February 14, 2018 3:42 AM
To: HelikarLab/candis
Cc: Subscribed
Subject: [HelikarLab/candis] windows OS installation steps. (#

[2018-02-15 14:46] achillesrasquinha commented on #9
Hi there. That's great! For a start, you can maybe try writing a detailed instruction to have it setup on Windows [here](https://github.com/HelikarLab/candis/wiki/A-Hitchhiker's-Guide-to-Installing-candis-on-Windows-OS). Refer our [guide structure](https://github.com/HelikarLab/candis/wiki/A-Hitchhiker's-Guide-to-Installing-candis-on-Mac-OS-X) for the same.

We're also attempting to have candis as

[2018-02-15 17:34] rupav commented on #9
This bug is not solved yet https://github.com/LeeKamentsky/python-javabridge/issues/34, I have installed java, set PATH to bin directory of jdk as well. Able to run `java` from cmd.

same error occured when I used `pip install -r requirements.txt`
[code]

@achillesrasquinha @akram-mohammed any suggestions where to look for now?
I am using windows 10 64-bit OS.
PS: I have never used java before.

[2018-02-15 19:31] gopuvenkat opened #10 "Installation error"
[code]
Operating System: Linux Mint 18.2 Sonya

[2018-02-15 20:22] achillesrasquinha commented on #10
You might need a `python-dev` package for the same. Looks like you haven't installed Python Headers. Closing this, please reopen if persists.

[2018-02-15 20:23] #10 closed, assigned to nobody

[2018-02-15 20:24] achillesrasquinha commented on #9
Did you try `javabridge`'s latest from the master branch?

[2018-02-15 20:25] achillesrasquinha commented on #9
Again, see if you can debug on this steps [here](https://github.com/HelikarLab/candis/wiki/A-Hitchhiker's-Guide-to-Installing-candis-on-Mac-OS-X). Meant of OS X, but you get the idea.

[2018-02-16 03:10] rupav commented on #9
@achillesrasquinha I tried with `pip install -r requirements.txt``(so it clones the javabridge repo and by default master is getting cloned ?) too, now new error are produced:
[code]
Will try solving this in evening.

[2018-02-16 12:17] achillesrasquinha commented on #9
Try updating Visual C++

Also, looks like you're working on a conda `env`. Let us know what you discover.

[2018-02-16 12:30] swarnimshukla opened #11 "Error in installing R dependencies"
When I am executing the command to install the R dependencies , it has some problem installing the Bioconductor. I am using ubuntu 16.04.

![screenshot from 2018-02-16 17-55-34](https://user-images.githubusercontent.com/29918260/36307615-f95e4d7a-1342-11e8-8001-a7485e59469b.png)

[2018-02-17 05:34] gopuvenkat commented on #10
Thanks!!
Got it running :smile:

[2018-02-17 06:15] achillesrasquinha commented on #11
I feel you've got permission issues that fail to write your R dependencies. Can you check on that? Maybe this is not an issue candis could address.

[2018-02-17 06:39] achillesrasquinha commented on #9
Hi Rupav, unfortunately. I've got a Mac for setup + Ubuntu, CentOS (I have not tried this on it yet, and will work on this, would love to collaborate). Got a daytime job! :)

If there's anyway I can help to debug, do let me know.

[2018-02-17 08:01] rupav commented on #9
[code]
I was finding solution for previous error, I uninstalled `Visual Studio Code` in between, and now these error came up, cant get past through it :( . Looking for solutions for hours but not finding any, also not able to instal from conda channel too - pygraphviz .

[2018-02-17 10:27] swarnimshukla commented on #11
Yeah it worked, thanks a lot
Closing this issue

[2018-02-17 10:28] #11 closed, assigned to nobody

[2018-02-17 13:07] achillesrasquinha commented on #9
Okay. It looks like the issue I had with `javabridge` has been fixed. I'll try avoiding the master branch installation for now.

[2018-02-17 13:12] achillesrasquinha opened #12 "Setup Development from Production and Fixes"
#### Personal ToDo List. Feel free to contribute.

- [x] Use `pipenv` to setup development environment (✨ 🍰 ✨) Update the `Makefile`.
- [x] Setup `develop`, `hotfix` and `master` branch for releases.
- [x] Delete `dev` branch. Switch to `develop`. (@akram-mohammed can I have administration rights on the repository?)
- [ ] Setup `administration` commands. (Use `click`?)
- [ ] DB-Driven (ensuring to

[2018-02-17 14:09] achillesrasquinha commented on #10
Great!

[2018-02-17 14:11] achillesrasquinha commented on #10
@gopuvenkat Would you like to write a setup article for the same? I'm trying to track what OSes have candis installed successfully.

We've got `get-candis` attempting to be a one command install. And of course we're keen to have a detailed guide [here](https://github.com/HelikarLab/candis/wiki/A-Hitchhiker's-Guide-to-Installing-candis-on-Linux-OS), partially empty!

[2018-02-17 14:37] achillesrasquinha commented on #7
I'd wait a lot for this, maybe during their first minor versions. Closing this for now.

[2018-02-17 14:37] #7 closed, assigned to achillesrasquinha

[2018-02-17 16:29] gopuvenkat commented on #10
I would like to write the setup article for candis. I have successfully installed candis on Linux Mint 18.2 Sonya.
I believe that it would be better if we explicitly mention that we have to use `python3` instead of `python`

[2018-02-17 17:35] gopuvenkat commented on #10
I tried `get-candis` on Ubuntu 16.04(through virtual box)
[code]

[2018-02-17 18:49] rupav commented on #9
@achillesrasquinha I am able to run the project on Ubuntu(I have made it guest OS using oracle VM) following the installation instructions (although `sudo apt-get install python3-tk` was needed as a extra command).
I will try a different approach on windows ASAP for installation.

[2018-02-18 09:45] achillesrasquinha commented on #9
Wait for #13 to merged. We'll see what we get next. Removing some redundant stuff for now.

[2018-02-18 09:50] achillesrasquinha commented on #9
Do try the `get-candis` script and let us know what you get!

[2018-02-18 11:49] rupav commented on #9
Ok @achillesrasquinha , I will try it ASAP.

[2018-02-18 12:08] rupav commented on #9
@achillesrasquinha I am afraid, I have to go through `curl`, equivalent of `bit.do` on windows to run `get-candis` in the very first place . I was looking https://github.com/HelikarLab/candis/wiki/A-Hitchhiker's-Guide-to-Installing-candis-on-Mac-OS-X , which uses `get-candis` script. If get-candis is a python file, why didn't you put it with .py extension.

[2018-02-18 13:28] achillesrasquinha commented on #9
I'd never tested this on a Windows machine. *nix OS don't need an extension, one could use a shebang to launch the executable.

The only reason why this needs a Windows compat is because many users of the application might not have *nix. Otherwise, spawning a VM would not hurt. 😛

Give me some time! As soon as a I get hands on a Windows machine, I'll have this tested.

BTW, `get-candis` isn't Wind

[2018-02-24 15:33] swarnimshukla opened #14 "Error in setup on Ubuntu"
I am having a problem when I click on create a dataset.
The rows are not getting added immediately when I am clicking on the add rows button.
This is the console output of the event.
Can someone please help me out?
![jserror](https://user-images.githubusercontent.com/29918260/36631942-d890e3dc-19a5-11e8-815c-3e4809226a5e.png)

NOTE: Add a GIF/Screenshot if required.

[2018-02-25 12:15] gopuvenkat commented on #14
Same issue in Linux mint 18.2 Sonya

[2018-03-03 14:34] rupav commented on #9
Update: @achillesrasquinha I am busy till 12th March because of college exams, thats why no activity/update nowadays. Will get back to this ASAP, PS: I tried `get-candis` (around 13 days back) (followed steps similar to Mac OS-X https://github.com/HelikarLab/candis/wiki/A-Hitchhiker's-Guide-to-Installing-candis-on-Mac-OS-X ) but was unsuccessful in setting up on Ubuntu 16.10 .

[2018-03-13 16:58] arpits809 opened #15 "Windows installation error."
###pip installation error
pip doesn't recognize the Visual c++  version in the system even though i have visual c++ 2015 and have set the environment variables.
Error below:

C:\Users\Arpit\AppData\Local\Programs\Python\Python36>pip install candis
Collecting candis
  Using cached candis-0.0.5-py2.py3-none-any.whl
Requirement already satisfied: rpy2 in c:\users\arpit\appdata\local\programs\python\p

[2018-03-16 14:34] rupav commented on #14
As per https://github.com/HelikarLab/candis/blob/develop/.github/sample.gif , candis is able to work, load data, apply naive bayes algo on the same. But even after cloning CRES data, I am not able to load data on candis.
I am getting the same error, and I am not even getting the option to `add` a row.

[2018-03-16 14:55] rupav commented on #14
![screenshot from 2018-03-16 20-01-33](https://user-images.githubusercontent.com/20624380/37527506-32446f0e-2958-11e8-9c44-b83af22b4ae9.png)

[2018-03-16 17:24] rupav opened #17 "'Client' is not defined in candis/data/entrez/api.py"
#### Expected Behaviour
Client should be defined, before using it
#### Actual Behaviour

#### Steps to Reproduce:
https://github.com/HelikarLab/candis/blob/f58a0d02f007c66145fbaa9541eeb0815c85ad2b/candis/data/entrez/api.py#L31
`self.name       = assign_if_none(name, Client.NAME)`

so when running from python interpreter:
Also, this should be `from candis.data import entrez`
![2018-03-16](https://u

[2018-03-19 12:59] achillesrasquinha commented on #14
Looks like a `react-data-grid` error. Can you confirm what version you're using?

[2018-03-19 13:02] rupav commented on #14
I am using Ubuntu 17.10

[2018-03-20 08:18] achillesrasquinha commented on #14
`react-data-grid` within `node_modules`

[2018-03-20 18:19] swarnimshukla commented on #14
It's 3.0.3

[2018-03-22 13:58] gopuvenkat commented on #14
`react-data-grid` version : 3.0.11

[2018-03-25 20:29] #6 closed, assigned to achillesrasquinha

[2018-04-10 23:34] akram-mohammed opened #19 "Remove Options Menu"
The options menu is blank.

[2018-04-10 23:35] akram-mohammed opened #20 "Remove the Download option under Data tab"

[2018-04-10 23:36] akram-mohammed opened #21 "Move Gist to Visualize"

[2018-04-10 23:36] akram-mohammed opened #22 "Rename Gist to Output"

[2018-04-10 23:37] akram-mohammed opened #23 "Move Visualize tab to appear after Evaluate"

[2018-04-10 23:37] akram-mohammed opened #24 "Change the Preprocess and Model arrow downward"

[2018-04-10 23:38] akram-mohammed opened #25 "Predict hasn't been implemented"

[2018-04-10 23:39] akram-mohammed opened #26 "Add a feature to remove a pipeline step"

[2018-04-10 23:39] akram-mohammed opened #27 "Add a feature to delete a pipeline"
#### Expected Behaviour

#### Actual Behaviour

#### Steps to Reproduce:
*

NOTE: Add a GIF/Screenshot if required.

[2018-04-10 23:40] akram-mohammed opened #28 "Create a New Dataset is not working under Data tab"

[2018-04-21 16:12] rupav commented on #28
https://github.com/HelikarLab/candis/blob/b93a9bf12f38684d311da2d63efc700d77595f24/candis/app/client/app/component/widget/DataEditor.jsx#L139
So this prop, `rowSelection` is the cause of the error, http://adazzle.github.io/react-data-grid/examples.html#/row-select for documentation. I have opened the issue for the same in react-data-grid, waiting for their response.

[2018-04-26 01:56] rupav opened #31 "Add React Components documentation"
#### Expected Behaviour
Currently, there are many components which make it difficult for a newcomer to parse through, having a documentation of such components will make it easy to know about the components. Hence, I will be using an open-source library to generate documentation of components: [react-docgen](https://github.com/reactjs/react-docgen).

This will be the modified docs directory then.

[2018-05-02 03:26] rupav opened #33 "Can we follow ESLint with Airbnb for JS styling?"
#### Expected Behaviour
Current JS code is readable/user-friendly but don't follow ESLint guidelines.

#### Actual Behaviour
We can use [ESlint](https://eslint.org/) with [airbnb](https://github.com/airbnb/javascript) style guide for following the coding conventions.
This will allow us to have a coding convention, set rules for others, can be included in Travis CI, so that a PR not following ESLin

[2018-05-05 04:41] rupav opened #34 "node-sass command is incorrect."
#### Expected Behaviour
node-sass was added in [#13](https://github.com/HelikarLab/candis/pull/13/files).
node-sass is great because of its fast compilation over sass (refer [Libsass vs sass](http://sassbreak.com/ruby-sass-libsass-differences/) )
with reference to https://github.com/sass/node-sass#command-line-interface, `--style` should be replaced with `--output-style`, and there should be no `:

[2018-05-06 03:53] rupav commented on #27
Claiming, once #30 gets merged, I will send a PR for this.

[2018-05-06 16:35] achillesrasquinha opened #35 "make install fails for pipenv"

[2018-05-08 11:21] rupav commented on #33
As discussed in meet 1, yes, but it's not of priority for now.

[2018-05-08 16:03] rupav commented on #27
![removepipe](https://user-images.githubusercontent.com/20624380/39768504-17c4a990-5307-11e8-8d93-4eec8c2e07f5.gif)
@akram-mohammed this is done too. I will look Travis CI very soon (to get it working) to get PR #30  merged and then I will add this functionality too. Pipeline is deleted both from CRES directory and from redux-store/UI.
cc @achillesrasquinha .

[2018-05-12 13:43] rupav opened #37 "candis not running on docker"
Executed the commands from readme, after pulling image from the hub, I can't run candis:
![screenshot from 2018-05-12 19-05-06](https://user-images.githubusercontent.com/20624380/39957861-aa16b488-5617-11e8-9fd0-6fce41c1ef25.png)
`docker run -p 8888:5000 candis` creating error.

Then I tried building the image locally using `Dockerfile` present in the repository:
[code]

![screenshot from 2018-05-

[2018-05-12 19:25] rupav commented on #35
`sudo -H pip3 install -U pipenv`: to install pipenv.
then after running `make install` following error comes in:
Traceback:
[code]

System: Ubuntu 17.10

[2018-05-16 05:01] rupav opened #44 "Add jest as a testing framework."
Testing framework set up with a basic test of a component.
So that it can be integrated with travis build.

[2018-05-16 08:21] #44 closed, assigned to nobody

[2018-05-17 12:33] rupav opened #46 "Setup pytest and pytest-cov"
Required a testing framework for api (python) testing and a coverage tool.
Will be using pytest and pytest-cov as suggested by @achillesrasquinha.

[2018-05-17 17:21] #46 closed, assigned to nobody

[2018-05-19 15:20] rupav commented on #23
Can be closed now, #50 solves the issue

[2018-05-19 15:20] #23 closed, assigned to achillesrasquinha

[2018-05-19 15:20] rupav commented on #22
Can be closed now, #50 solves the issue

[2018-05-19 15:20] #22 closed, assigned to achillesrasquinha

[2018-05-20 18:32] rupav commented on #26
#51 solves this issue.

[2018-05-20 18:32] #26 closed, assigned to achillesrasquinha

[2018-05-20 19:40] rupav commented on #27
Done @akram-mohammed  😃.
Now we have this feature, reference #52.
Updated GIF:
![removepipe2](https://user-images.githubusercontent.com/20624380/40282823-722dfef6-5c92-11e8-8894-e453a0450b5f.gif)

Closing this then.

[2018-05-20 19:40] #27 closed, assigned to achillesrasquinha

[2018-05-20 19:42] rupav commented on #34
Solved in #51

[2018-05-20 19:42] #34 closed, assigned to nobody

[2018-05-20 19:44] rupav commented on #21
Not claiming this until code coverage is high, adding this feature might bring some reference issues.

[2018-05-21 12:53] rupav opened #53 "Create an API endpoint to download data from NCBI - through Download tool of Candis."
This will be used to download data from [NCBI](https://www.ncbi.nlm.nih.gov/) into Candis.

**Checklist:** to implement
- [x] Add API endpoint to call Entrez module.
- [x] Add GEO module
- [x] Implement Esearch
- [x] Implement Esummary
- [x] Implement the logic as described in https://www.ncbi.nlm.nih.gov/geo/info/geo_paccess.html#ExampleIII
- [x] Use socket.io for download progress.
- [ ] Add tes

[2018-05-23 10:26] rupav commented on #24
Its showing downwards only,
Latest GIF showing this is:
![removepipe2](https://user-images.githubusercontent.com/20624380/40282823-722dfef6-5c92-11e8-8894-e453a0450b5f.gif)

As you can see, arrows are downward. This GIF is taken from PR #52 .
@akram-mohammed

[2018-05-23 10:28] rupav commented on #24
Added an Invalid label as for now, please close if you feel it's not a problem now. @akram-mohammed

[2018-05-23 12:39] rupav opened #54 "Change sign from "minimize" to "downward arrow" after ToolBox is minimized."
#### Expected Behaviour
After ToolBox is minimized, its icon should be changed to `v` downward arrow, indicating to expand the ToolBox.
#### Actual Behaviour
Currently after minimizing ToolBox (localted in left side of UI), option to open it again is to click `minimize` option.
#### Steps to Reproduce:
* Run Candis, then click on ToolBox minimize option.

[2018-05-24 10:27] #54 closed, assigned to nobody

[2018-05-24 17:33] rupav commented on #31
@achillesrasquinha  @akram-mohammed  your opinion on this?

[2018-05-25 17:49] rupav opened #59 "Remove pipenv as discussed in a GSoC meet."
#### Expected Behaviour
Remove pipenv commands from Makefile
#### Actual Behaviour
Currently pipenv is present.

[2018-05-26 03:49] #28 closed, assigned to achillesrasquinha

[2018-05-26 16:27] rupav commented on #24
Closing it now, if came up again, will reopen this.

[2018-05-26 16:27] #24 closed, assigned to achillesrasquinha

[2018-05-26 19:12] #59 closed, assigned to nobody

[2018-05-26 19:22] rupav commented on #35
This can be closed now, as we are not using **pipenv** now.
Removed from `Makefile` too (just commented its commands for future references 😅)

[2018-05-26 19:22] #35 closed, assigned to nobody

[2018-05-27 17:28] rupav commented on #31
Will repoen in later stage of the programme. Not a priority now.

[2018-05-27 17:28] #31 closed, assigned to nobody

[2018-05-29 04:23] rupav opened #65 "After deleting a pipeline, enchance UI."
#### Expected Behaviour
After deleting a pipeline, activePipeline should be set to a one of the pipelines in document list (i.e. opened by the user). And if only one pipeline was present before deleting it, clicking on delete again (after deleting it) should indicate error.

[2018-05-29 07:05] rupav opened #67 "Add Test cases for frontend using Jest and Enzyme."
This issue is to achieve 100% code coverage on frontend.

**Cheklist:**
- [x] Add JEST - refer #45
- [x] Add coverage tool - refer #49
- [x] Add enzyme. - Update: 11th June: Well using enzyme is not going to work because of no official support to Preact. Might be removed in upcoming PRs.
- [ ] Complete **actions** test
- [ ] Complete **Reducers** test
- [ ] Complete **Components** test

[2018-05-29 11:49] rupav opened #68 "Make React developer tools work in Candis"
#### Expected Behaviour
React developers should work in development mode.
#### Actual Behaviour
Currently React-dev-tool plugin dont work because Candis is Preact based not React.

[2018-05-29 12:07] #68 closed, assigned to nobody

[2018-06-02 05:17] rupav commented on #33
Will open it later.

[2018-06-02 05:17] #33 closed, assigned to nobody

[2018-06-02 05:34] rupav commented on #4
@achillesrasquinha, @HelikarLabPersonal this can be closed now, as get-candis is working on Travis (which is using a ubuntu machine), so it must be working on Ubuntu 17.04 too.

[2018-06-02 09:01] rupav commented on #37
Docker image is being pulled correctly through docker HUB, and working fine locally using - `docker run -p 8888:5000 helikarlab/candis`.
But using a **Dockerfile** to build the image following error (as can be seen in the above Screenshot)
`ModuleNotFoundError: No module named 'distutils.spawn'` is showing up.

[2018-06-05 08:19] rupav opened #78 "remove 'REMOVE_NODE', and replace in the codebase with a proper ActionType"

[2018-06-05 11:46] rupav commented on #20
This option will be used, once #63  gets merged.
So I will use this `Download option` to connect to entrez API search and download endpoint.

[2018-06-05 12:09] #65 closed, assigned to nobody

[2018-06-06 06:44] rupav commented on #19
@achillesrasquinha was it made initially for **user** settings - user profile, once we have database integration?

[2018-06-06 06:46] rupav commented on #14
@gopuvenkat  @swarnimshukla  it was indeed a react-data-grid error, feel free to reopen this issue, if encountered again.
Refer PR #57
Closing this now.

[2018-06-06 06:46] #14 closed, assigned to nobody

[2018-06-10 10:38] rupav opened #83 "Affy package not found while using importr function of rpy2."
When running candis quickstart inpython notbook, I get following error.

[code]

problem is there is no `Affy` package, I found following packages availble (which doesn't include **affy**), link : [FAQs](https://cran.r-project.org/doc/FAQ/R-FAQ.html#How-can-add_002don-packages-be-used_003f) .
![rpackages](https://user-images.githubusercontent.com/20624380/41200736-0e13a1b4-6cc8-11e8-9fe6-34e78960b

[2018-06-10 11:48] rupav commented on #83
This here is used to access biocLite utitlity of Bicoconductor using rpy2:
https://pythonhosted.org/rpy2-bioconductor-extensions/introduction.html#installing-bioconductor-packages
But `bioclite = robjects.globalenv['biocLite']` fails for me after I used personal directory to install biocInstaller as suggested that files in `/usr/local.` directory should not be overwritten.

[2018-06-10 12:04] rupav commented on #83
Will try using https://stackoverflow.com/a/17003912/8356072

[2018-06-10 13:54] rupav commented on #83
**Able to install 'affy' from above method**

[code]

Now need to test if its correct package.

[2018-06-10 15:01] rupav commented on #83
Still few errors while running, but atleast 'arff' fetched successfully.

[2018-06-10 16:17] rupav commented on #83
Error was `hgfocuspdf package is not installed`, so I installed it manually using above steps.
This ran `cdata.toARFF('data/sample.arff')` command successfully.
This ARFF file then I loaded in the separate notebook. Which is converted to a pandas dataset.
@achillesrasquinha refer #84

[2018-06-11 08:55] rupav opened #89 "An incorrect url to Architecture.png in wiki API Refernce page."
Branch has changed from 'dev' to 'develop', and thus this behavior.

[2018-06-11 08:56] rupav commented on #89
Corrected the wiki page, closing.

[2018-06-11 08:56] #89 closed, assigned to nobody

[2018-06-11 16:19] #83 closed, assigned to nobody

[2018-06-12 04:59] rupav opened #90 "Setup logging in get-candis."

[2018-06-12 05:17] #90 closed, assigned to nobody

[2018-06-12 12:37] rupav opened #93 "Add ARFFtoPandas function in cdata directory."
#84  introduced a notebook to convert ARFF data into Pandas dataframe.
We need to have this feature in the ios/cdata directory as a function.

[2018-06-13 09:22] #78 closed, assigned to nobody

[2018-06-13 11:48] #17 closed, assigned to nobody

[2018-06-26 16:27] rupav opened #103 "After adding new pipeline, adding stages in the new pipe creates error when their values are set."
#### Expected Behaviour
Adding a new pipeline alongside the previously active should have stages working similar to the previously active pipeline's stages.

#### Actual Behaviour
After adding new pipeline, adding stages in the new pipe creates error when their values are set.
Currently for setting value of any stage following error comes up:
`Uncaught TypeError: Cannot read property 'code' of nul

[2018-06-26 16:49] #93 closed, assigned to nobody

[2018-06-29 06:44] #103 closed, assigned to rupav

[2018-06-29 06:55] rupav opened #107 "Allow editing of pipeline which is read from the file."
#### Expected Behaviour
After opening a pipeline, the user can edit the pipeline. - add stages, change values of existing ones.

#### Actual Behaviour
After opening a file, values of stages cant be edited (no action on clicking those stages).
Also, adding more stages is not get reflected in the UI, although gets written back to the file.

#### Steps to Reproduce:

NOTE: Add a GIF/Screenshot if req

[2018-06-29 15:52] rupav opened #110 "Integrate frontend entrez form with backend"
#### Expected Behaviour

- [x] Add entrez form to hit api/data/search endpoint and fetch results.
- [x] Put results from above into data-grid, and then download the CEL file as per user selection.

[2018-06-29 16:11] rupav commented on #20
closing this as per #109

[2018-06-29 16:11] #20 closed, assigned to achillesrasquinha

[2018-06-30 04:44] #110 closed, assigned to nobody

[2018-07-11 15:23] #107 closed, assigned to rupav

[2018-07-14 08:35] rupav opened #123 "Reset redux-store state after user signout."
Refer:
https://stackoverflow.com/questions/35622588/how-to-reset-the-state-of-a-redux-store

[2018-07-14 10:24] #123 closed, assigned to nobody

[2018-07-14 19:37] rupav opened #127 "Prevent first request from candis to backend to fail."
#### Expected Behaviour

#### Actual Behaviour
On login or signup, request for getResources to backend fails.

#### Steps to Reproduce:
Just login, and see the toastr.warning on top right of the UI.

[2018-07-15 07:15] rupav opened #128 "Can't call setState (or forceUpdate) on an unmounted component."
#### Expected Behaviour
Solve the above warning on login and sign up.
#### Actual Behaviour
Currently after logging in and sign up, above warning pops up.
Warning is :
`Warning: Can't call setState (or forceUpdate) on an unmounted component. This is a no-op, but it indicates a memory leak in your application. To fix, cancel all subscriptions and asynchronous tasks in the componentWillUnmount metho

[2018-07-15 08:14] #128 closed, assigned to nobody

[2018-07-15 12:53] #127 closed, assigned to rupav

[2018-07-15 15:12] rupav opened #132 "Pre-populate relevant fields in Entrez form using redux-store's App.user state"
#### Expected Behaviour
We can put email and toolName into the Entrez form using redux-store as placeholders.
#### Actual Behaviour
each field in Entrez form have to be filled manually by the user.

[2018-07-15 15:27] #132 closed, assigned to nobody

[2018-07-15 19:19] rupav opened #134 "Remove backend 404 error showing up on console when creating a new pipeline."
#### Expected Behaviour
If new pipe's name doesn't match with any existing, backend read api error should not be reflected back in the console.
#### Actual Behaviour
Currently, while creating a new pipeline, we check if pipeline with the same name if already present, if not we create it. But if there is no match, a error is caught for the read request to backend, which gets shown up as 404 error i

[2018-07-22 19:43] rupav opened #140 "Add Forgot password feature."
#### Expected Behaviour
A reset password endpoint. And form on the frontend for reset password functionality.
#### Actual Behaviour
Currently, if a user forgets password, there is no way one can login with the same mail again.
*

NOTE: Add a GIF/Screenshot if required.

[2018-07-23 18:09] rupav opened #145 "Add a feature to split data into training and testing datasets."
#### Expected Behaviour
After splitting data with Percent feature, following thing will happen:

1).User enters the split percentage.
2). Candis firstly randomize the provided data.
3). Then split the data into training and testing dataset with given percentage/ratio.
3). Both datasets gets saved in the user data directory.
4). Training dataset will then be trained similarly how it is currently do

[2018-07-25 04:45] rupav commented on #19
@akram-mohammed in the options menu, we have settings, which I have used as discussed with Achilles for default settings for the pipeline. Refer #147 .
Update: For user settings, refer #125 .
So closing this issue now :)

[2018-07-25 04:45] #19 closed, assigned to achillesrasquinha

[2018-08-02 16:20] #140 closed, assigned to nobody

[2018-08-02 16:46] #21 closed, assigned to achillesrasquinha

[2018-08-02 16:49] rupav opened #154 "React Data Grid last column cell doesn't get populated."
#### Expected Behaviour
Table(React data grid) should be created with all the cells filled.

#### Actual Behaviour
Currently on creating new pipeline, React data grid even on after saving the value of last cell, does not retain the last column cell value, and on loading it shows up blank cell instead.

NOTE: Add a GIF/Screenshot if required.
![reactdatagriderror](https://user-images.githubusercont

[2018-08-05 07:13] rupav opened #156 "JVM wouldnt start for next pipeline."
#### Expected Behaviour
no error while creating JVM on a pipeline run.

#### Actual Behaviour
Currently for a pipeline, JVM is started, and stopped, but on running the 2nd pipeline, it gives the Runtime error - `cant create Java VM.`

Related issues:
https://bugs.java.com/bugdatabase/view_bug.do?bug_id=4712793
https://bugs.java.com/bugdatabase/view_bug.do?bug_id=4712793
https://github.com/LeeKamen

[2019-02-16 05:19] promehul opened #163 "Problem in python packages while Project Setup"
#### Expected Behaviour
While using pip install -r requirements.txt all packages should get installed

#### Actual Behaviour
Some packages were not getting installed because the version mentioned was outdated or had been depreciated.
#### Steps to Reproduce:
* All dependencies and packages needs to be updated

NOTE: Add a GIF/Screenshot if required.

[2019-02-17 22:06] achillesrasquinha commented on #163
What are the dependency conflicts you're facing? What branch are you trying to use?

[2019-02-18 01:27] akram-mohammed commented on #163
Harshit, Thanks for creating a ticket.

Sent from Mail for Windows 10

From: harshit khetan
Sent: Friday, February 15, 2019 11:19 PM
To: HelikarLab/candis
Cc: Subscribed
Subject: [HelikarLab/candis] Problem in python packages while Project Setup(#163)

Expected Behaviour
While using pip install -r requirements.txt all packaes should get installed
Actual Behaviour
Some packages were not getting ins

[2019-02-19 11:32] promehul commented on #163
While setting it up , as I was installing the packages server didn't run because many python packages failed to install because their versions didnt match. I was on branch develop

[2019-02-20 16:59] majumderS opened #164 "connection refused."
#### Expected Behaviour
=>On hitting 127.0.0.1:5001 (any port prompted by server) we should be able to see the interface

#### Actual Behaviour
=> I am getting a psycopg2.OperationError connection refused error. Screenshot error. I have installed all the packages in requirements.txt.

#### Steps to Reproduce:
install candis (ubuntu)
python3

NOTE: Add a GIF/Screenshot if required.
![2](https://use

[2019-02-25 03:23] achillesrasquinha commented on #163
@promehul what are the packages that failed to install?

[2019-02-25 03:23] achillesrasquinha commented on #164
Hi @majumderS, have you checked your postgresql server running?

[2019-02-25 15:10] majumderS commented on #164
HI @achillesrasquinha. Yes my postgresql db server was not running hence the issue. Thanks. May be for beginners, one pointer should be towards installation of postgresql as a dependency.

[2019-02-25 18:51] achillesrasquinha commented on #164
Did you take a look at the https://github.com/HelikarLab/candis/wiki? Would you mind updating the same? :)

[2019-02-26 06:21] majumderS commented on #164
Hi @achillesrasquinha  Yes sure. I have added a small note in the dependency section of the Linux wiki in the forked repository which I forked from main HelikarLab rep. Please check the
https://github.com/majumderS/candis/wiki/A-Hitchhiker's-Guide-to-Installing-candis-on-Linux-OS#dependency-requirements-for-both-development-and-production
SInce its a wiki, I could not find any push to main branch

[2019-02-26 14:51] majumderS commented on #134
Hi @rupav I have tried to work on this issue. I did two things to handle the situation here.

1) from what I understood after going through the code, the main concern here is that "404" error response by the server is also popping up a corresponding browser console error.

2) SO what I did instead is, instead of setting 404 error, I added a text "Filename doesnot exist" in data.py file. The status

[2019-02-26 19:18] achillesrasquinha commented on #164
You can change it here https://github.com/HelikarLab/candis/wiki directly. Thanks!

[2019-02-27 14:14] majumderS commented on #164
Directly as in I do not find any option to do so for github wiki in the github UI.

So I cloned the repository in my machine and tried to push the changes to a branch. I am getting permission denied error. I guess permission has not been provided for non-collaborators.

I tried the git pull-request but having a hard time setting up credentials.
git credential-store --file ~/git.store store
protoco

[2019-02-27 16:00] promehul commented on #163
Many packages like ipython,javabridge,rpy2,etc

[2019-02-27 16:51] achillesrasquinha commented on #163
@promehul A traceback would be helpful. Thanks!

[2019-02-28 14:44] promehul commented on #163
![screenshot from 2019-03-01 14-58-13](https://user-images.githubusercontent.com/32803738/53574348-71632680-3b95-11e9-90dd-044f4bc4dc12.png)
![screenshot from 2019-03-01 14-58-17](https://user-images.githubusercontent.com/32803738/53574377-7d4ee880-3b95-11e9-99ad-7a3c97b492d1.png)

[2019-02-28 18:16] majumderS commented on #163
Hi. Pygraphviz is an interface for graphviz package.
1) Try installing graphviz first.
sudo apt-get install graphviz libgraphviz-dev pkg-config
2) Then pygraphviz
Run pip install pygraphviz
Hope that helps!

[2019-02-28 18:23] promehul commented on #163
![screenshot from 2019-03-01 18-37-55](https://user-images.githubusercontent.com/32803738/53588878-f65d3880-3bb3-11e9-800d-679464cacf47.png)
![screenshot from 2019-03-01 18-38-03](https://user-images.githubusercontent.com/32803738/53588884-fb21ec80-3bb3-11e9-819e-cf8b9905dde5.png)

[2019-02-28 18:29] majumderS commented on #163
@promehul do you have java installed in your ubuntu machine? It seems like a java issue.

[2019-02-28 18:37] promehul commented on #163
its installed.. i think its the issue with the path.. What path did u set in for java?

[2019-02-28 18:42] majumderS commented on #163
/usr/lib/jvm/java-8-oracle

[2019-02-28 18:51] majumderS commented on #164
@achillesrasquinha I do still think that editing is restricted to collaborators only and hence I do not see any edit button.
This link here is a pointer.
https://help.github.com/en/enterprise/2.13/user/articles/changing-access-permissions-for-wikis

Also I tested with my wiki and a dummy account. It appeared only after I unchecked "restrict editing to collaborators only.
![github2](https://user-im

[2019-03-01 11:20] majumderS opened #165 "Unable to Download files from NCBI"
Hi, I was trying to download a dataset from the tool box download data option but I am unable to.
It is rendering a 401 "Email is incorrect" unauthorised response.
I am supplying api-key, database as 'gds' and query terms as 'gpl'.

When I am trying to hit the entrez api end points through jupyter or browser, I am getting result. Any idea why this happening?

![screenshot from 2019-03-01 22-21-00]

[2019-03-07 18:32] achillesrasquinha commented on #165
I'm not sure if this has anything got to do with candis per se.

[2019-03-07 18:32] #165 closed, assigned to nobody

[2019-03-07 18:34] achillesrasquinha commented on #164
I'm not sure by what you mean. Users are able to edit wikis. The link you point to has solely got do with GitHub Enterprise.

[2019-03-07 18:35] achillesrasquinha commented on #164
I'm closing this issue since it relates to PG server not running.

[2019-03-07 18:35] #164 closed, assigned to nobody

[2019-03-07 18:36] achillesrasquinha commented on #163
The [Dockerfile](https://github.com/HelikarLab/candis/blob/develop/Dockerfile) is a good starting point to overcome dependencies.

[2019-03-07 18:36] achillesrasquinha commented on #163
I'm closing this. A very system related issue IMHO. Feel free to reopen if that not being the case.

[2019-03-07 18:36] #163 closed, assigned to nobody

[2019-03-10 04:57] promehul commented on #37
On docker-compose up i got 500 internal server error.
![image](https://user-images.githubusercontent.com/32803738/54080834-f6c9a200-431e-11e9-942e-2dfee4eef829.png)
Anyway I can solve this issue or atleast get the project running in my local so that I can start up with the contributions.

[2019-03-10 09:57] rupav commented on #134
Hi @majumderS
If you edit the bundle.min.js file, it would gets restored to original in the next build command, so that's not a solution, instead you need to add it in the source code.
"Filename doesnot exist" response can work, but why should we show this to the console/(user)?

[2019-03-10 10:19] rupav commented on #37
@promehul you can take up this issue. Will try solving it from my end too. It's a problem connecting with the postgres server as far I remember.

[2019-03-12 12:37] promehul commented on #37
Ya i am looking into it and trying to solve it @rupav

[2019-03-12 17:36] promehul commented on #37
@achillesrasquinha  candis is not running on docker because connection with redis is broken
![image](https://user-images.githubusercontent.com/32803738/54222105-c0f10d00-451a-11e9-9573-bb9b80b98265.png)
What is happening is actually its trying to connect to port 6379 of localhost where redis is running on a seperate container.
Wanted to confirm if cache container is the container in which redis is

[2019-03-12 17:46] promehul opened #166 "[BUG] Loading code from bind mounted volume"
**Describe the bug**
What is happening now is that code is getting copied in the container when a container is started due to which container needs to be killed and restarted whenever we make a change in the code.

**Expected behavior**
On starting a container code should be mounted in the volume so that we don't need to restart container everytime we make change in the code.
So instead of `COPY .

[2019-03-13 17:58] achillesrasquinha commented on #166
Hmm, I think it's best we structure out for development and production.

[2019-03-13 17:58] achillesrasquinha commented on #166
Use COPY . /app for development, volume for production, Sounds good?

[2019-03-13 18:01] promehul commented on #166
We should actually use volume in development so that changes are reflected in real time and use `COPY . /app` in production to ensure immutability and reproducibility.

[2019-03-13 18:12] achillesrasquinha commented on #166
You know best! :)

[2019-03-13 18:13] achillesrasquinha commented on #166
Create two compose files, ensure one overrides the other. Also try creating an `.env` directory for all variables included, again two seperate environments.

[2019-03-13 18:20] achillesrasquinha commented on #166
https://github.com/pydanny/cookiecutter-django/ has an excellent approach towards maintaining multi-environments. Take a look at the bare-minimum boierlplate implmentation! It's a great upstart

[2019-03-13 18:27] promehul commented on #37
@achillesrasquinha  Wanted to confirm if cache container is the container in which redis is running?

[2019-03-13 18:43] promehul commented on #166
Yes I will look into it and make the required changes .

[2019-03-14 11:17] promehul opened #168 "[FEATURE] Store the session ID or use cookies or JWT to prevent user logging out after refreshing."
**Describe the bug**
When I log in and refresh the page , user is logged out and we come back to the log in page.

**Expected behavior**
User shouldn't be logged out

**Additional context**
This is happening because we are no where saving the sessions id on the browser.

[2019-03-14 11:46] promehul commented on #168
@achillesrasquinha I dont know whether this is a feature intentionally implemented because of security reasons or is it really a bug ?

[2019-03-14 14:47] rupav commented on #168
We are using https://github.com/marcuswestin/store.js/ to store the credentials, username and tokenId in the browser, which gets erased after a refresh.

[2019-03-14 15:34] promehul commented on #168
So this is not a bug ,rather a feature na?

[2019-03-14 15:50] rupav commented on #168
Yes, not a bug, rather an implementation of store.js, which stores it in local storage if found. For persisting the token on a refresh, we have to check other options like cookies.
I Don't think currently this feature is of high priority.

[2019-03-14 20:10] achillesrasquinha commented on #37
I'm curious, have you tried overrdiding the enviuronment varibale passed?

[2019-03-14 20:12] achillesrasquinha commented on #37
Try using `depends_on` in case app needs to be run

[2019-03-17 16:28] promehul opened #169 "[BUG] Error on logging in, on docker."
**Describe the bug**
When I login both "logged in successfully" and "login first" toast appears.

**Expected behavior**
Only logged in successfully message should appear.

**Screenshots**
![image](https://user-images.githubusercontent.com/32803738/54494405-c88c2980-48ff-11e9-8395-067371ba5776.png)

[2019-03-18 12:46] promehul opened #170 "[FEATURE] Dockerize the whole application seperately for Development and Production."
**Is your feature request related to a problem? Please describe.**
Dockerizing the whole application had been done, But it needs to be done separately for dev and prod. After it no efforts would be needed to run candis both on dev and prod separately.

**Describe the solution you'd like**
Starting with a separate requirement dependencies for dev and prod. Then having a single Dockerfile that handl

[2019-03-18 12:51] promehul commented on #170
@achillesrasquinha  I have seperated the dependencies. Please have a look!!
These are the dependencies that are not required in the production.
![image](https://user-images.githubusercontent.com/32803738/54530967-33923a80-49aa-11e9-8c86-8b475c2ddc53.png)
These are the dependencies that are required both in development and production.
![image](https://user-images.githubusercontent.com/32803738/5453

[2019-03-21 18:12] promehul opened #172 "[BUG] Error on running a pipeline and using the candis-res data"
**Describe the bug**
While running the pipeline in CLI mode,  I got an error  "rpy2.rinterface.RRuntimeError: Error in loadNamespace(name) : there is no package called 'affy'"

**To Reproduce**
Steps to reproduce the behavior:
1. import candis
2. cdata = candis.cdata.read('./candis-res/CRES/sample.cdata')
3. cdata.toARFF('./candis-res/CRES/iris.arff')

4. See error

**Screenshots**
![image](https:

[2019-03-21 18:44] promehul commented on #172
@achillesrasquinha  and @rupav  any clue?

[2019-03-21 19:22] promehul commented on #172
I installed 'affy' in the container, then I am facing with this issue.
![image](https://user-images.githubusercontent.com/32803738/54779234-b0d4de00-4c3c-11e9-97b8-c559ae1c25e2.png)

[2019-03-22 07:20] promehul opened #174 "Show password"
**Is your feature request related to a problem? Please describe.**
On SignUp, there should be a show password button so that on some typing error, user doesn't need to again type the password.
**Solution**
A toggle button can be added to show password in plain text format and again in password type format.

[2019-03-22 20:34] achillesrasquinha commented on #172
Have you installed the R dependencies? :)

[2019-03-22 20:35] achillesrasquinha commented on #172
Is `get-candis` not working?

[2019-03-23 04:01] rupav commented on #169
closing as its solved now. refer to https://github.com/HelikarLab/candis/pull/167

[2019-03-23 04:01] #169 closed, assigned to nobody

[2019-03-23 04:02] rupav commented on #37
closing as its solved now, https://github.com/HelikarLab/candis/pull/167

[2019-03-23 04:02] #37 closed, assigned to achillesrasquinha

[2019-03-23 05:40] promehul commented on #172
Will try to setup candis using get-candis script as well.

[2019-03-23 16:14] promehul opened #175 "File not getting read in create dataset"
**Describe the bug**
On create a new dataset, file is not getting read.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'create a new dataset'
2. Click on 'add a row'
3. No file is showing in the dropdown
4. See error

**Screenshots**
![image](https://user-images.githubusercontent.com/32803738/54868686-324f7c00-4db5-11e9-988d-dd4aa8ba1a3f.png)

[2019-03-23 23:05] promehul commented on #175
@rupav we need to copy the sample data from candis-res repo  into the candisData directory present in the root directory of the repo candis

[2019-03-23 23:16] promehul commented on #175
@rupav you will still not be able to see the changes because changes would not be reflected back into the container as you are not using volumes. So you will need to rebuild the image and start the container once again. Hence my PR that separates it into two docker files using `volumes` in development and `copy` in production

[2019-03-26 16:30] rahul2240 opened #176 "Getting error on login"
**Describe the bug**
After sign up, I am redirected to my profile where I was asked to log in first.
During login, I am getting "Something bad happened.
I can confirm I am connected to db.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to sign in
2. Click on sign in

**Expected behavior**
User should be able to log in.

**Screenshots**
![Screenshot from 2019-03-26 21-58-58](https://user-

[2019-03-27 21:16] #175 closed, assigned to nobody

[2019-03-29 11:17] promehul commented on #176
Are you using docker container?

[2019-03-29 12:59] rahul2240 commented on #176
@promehul no i am not.

[2019-04-06 15:33] s-okubanjo commented on #9
@rupav Were you able to install this on your windows computer? I am having troubles installing it because of a dependency (pygraphviz).

If you were able to, what steps didi you take? The Hitchhiker's guide isn't updated yet too.

Cc @akram-mohammed

[2019-04-06 16:27] rupav commented on #9
It's not window compatible yet @s-okubanjo.

[2019-04-16 04:40] promehul opened #178 "Reduce memory footprint of the docker image"
Reduce the memory footprint of the docker image by using alpine image as the base image instead of using ubuntu:xenial as the base image.
**Future tasks**

[2019-05-02 04:01] promehul opened #179 "Not able to build image"
**Describe the bug**
When I try to build app image using `docker-compose build`, the build fails with error E: Package 'oracle-java8-installer' has no installation candidate
ERROR: Service 'app' failed to build: The command '/bin/sh -c apt-get install -y --no-install-recommends oracle-java8-installer' returned a non-zero code: 100

**To Reproduce**
Steps to reproduce the behavior:
1. docker-compos

[2019-05-02 04:04] promehul commented on #179
The Oracle JDK License has changed for releases starting April 16, 2019.
Oracle Java downloads now require logging in to an Oracle account to download Java updates, like the latest Oracle Java 8u211 / Java SE 8u212. Because of this we cannot update the PPA with the latest Java (and the old links were broken by Oracle).

[2019-05-02 12:21] promehul commented on #179
@achillesrasquinha  seems a pretty serious issue to me. Should we use `openjdk:8-jre-alpine` image for java or directly install it in our Dockerfile?

[2019-05-02 12:54] promehul commented on #179
Or should we shift to java11?

[2019-05-02 15:09] promehul commented on #179
Found a way to do it and I have it running. This was the only way I could found

[2019-05-09 20:32] #179 closed, assigned to nobody

[2019-05-10 17:46] achillesrasquinha opened #182 "Add scikit-learn Learning Models to learning-models.json"

[2019-05-10 17:46] achillesrasquinha opened #183 "Create Development and Production docker-compose.yml files"
Check cookiecutter-django for template. I'd given go a step further to create seperate Dockerfiles for each of the services.

[2019-05-10 17:46] achillesrasquinha opened #184 "Use alpine image as base image"

[2019-05-15 13:32] promehul commented on #182
@achillesrasquinha any help where to start from?

[2019-05-15 16:20] achillesrasquinha commented on #182
https://github.com/HelikarLab/candis/blob/develop/candis/resource/data/learning-models.json

[2019-05-16 17:22] achillesrasquinha commented on #184
Try building the assets as well. Take a look at https://docs.docker.com/develop/develop-images/multistage-build/ on how to do it.

[2019-05-18 23:00] #176 closed, assigned to nobody

[2019-05-20 18:54] achillesrasquinha commented on #184
Hi, any update?

[2019-05-30 14:05] #166 closed, assigned to nobody

[2019-05-30 14:05] promehul commented on #166
Solved in #181

[2019-05-30 23:27] achillesrasquinha commented on #184
Try using this patched build for rpy2 - https://github.com/achillesrasquinha/rpy2-docker

[2019-06-06 14:57] #184 closed, assigned to nobody

[2019-06-06 15:54] #178 closed, assigned to nobody

[2019-06-11 07:37] #172 closed, assigned to nobody

[2019-06-13 15:10] achillesrasquinha opened #191 "Build Individual Pipeline Engines"

[2019-06-15 05:26] #182 closed, assigned to nobody

[2019-06-20 14:35] promehul opened #193 "App directory inside docker should have root access."
**Describe the bug**
App directory in docker has nobody:nogroup permissions when bind mounted. Because of it files cannot be changed from inside the docker.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, ad

[2019-06-21 22:05] achillesrasquinha commented on #193
shouldn't

[2019-06-21 22:11] #193 closed, assigned to nobody

[2019-07-02 18:44] #183 closed, assigned to nobody

[2019-07-02 18:44] achillesrasquinha commented on #9
Kindly use the docker solution provided.

[2019-07-02 18:44] #9 closed, assigned to nobody

[2019-07-02 18:44] #170 closed, assigned to nobody

[2019-07-02 18:45] achillesrasquinha commented on #15
Kindly use the docker solution provided.

[2019-07-02 18:45] #15 closed, assigned to nobody

[2020-01-08 04:48] asharmabuild commented on #156
#156 still unsolved ?

[2020-01-10 14:00] asharmabuild commented on #156
I'm working on it ?

[2020-02-15 23:19] barshana-banerjee commented on #174
I would like to take this issue if anyone is not already working on this.

[2021-01-31 17:46] pranay-simejia commented on #174
is this issue still open? if yes, i would like to work on it!

[2021-01-31 17:49] pranay-simejia commented on #168
Is this issue open? I could work on storing user credentials on browser cookies.